*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: rgb(141, 141, 141);
} 

.box{
    text-align: center;
}

.hours, .minutes, .seconds, .AMorPM{
    width: 4em;
    height: 4em;
    background-color: rgb(141, 141, 141);
    padding: 1em;
    margin: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 3px 3px 9px rgb(84, 81, 81), -3px -3px 9px rgb(197, 196, 196);
}

#hours, #minutes, #seconds, #AMorPM{
    font-size: 3em;
    color: black;
}

.box > h1{
    font-size: 1em;
    color: black;
    text-shadow: 2px 2px rgb(121, 111, 111);

}  